*{
    padding:0;
    margin:0;
}
body {
    background-color: black;
}


.wrapper {
    display: flex;
    
}
.box1 {
    background-color: blue;
    width: 100px;
    height: 100px;
}
.box2 {

    background-color: red;
    width: 100px;
    height: 100px;
}
.box3 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}


.wrapper1 {
    display: flex;
}
.box4 {
    background-color: white;
    width: 200px;
    height: 100px;
}
.box5 {
    background-color: green;
    width: 100px;
    height: 100px;
}

.wrapper2 {
    display: flex;
}
.box6 {
    background-color: violet;
    width: 200px;
    height: 100px;
}

.wrapper2 {
    display: flex;
}
.box7 {
    background-color:blue;
    width: 100px;
    height: 50px;
}
.box8 {
    background-color: skyblue;
    width: 100px;
    height: 50px;
}
